* {
  margin: 0;
  padding: 0;
}
ul,
li {
  display: flex;
  justify-content: center;
  list-style: none;
}
.slide {
  height: 300px;
  overflow: hidden;
  position: relative;
}
.slide ul {
  width: calc(100% * 9);
  display: flex;
  animation: slide 36s infinite;
}
.slide li {
  width: calc(100% / 9);
  height: 300px;
}

@keyframes slide {
  0% {
    margin-left: 0;
  } /* 0 ~ 10  : 정지 */
  5.5% {
    margin-left: 0;
  } /* 0 ~ 10  : 정지 */
  11% {
    margin-left: -100%;
  } /* 10 ~ 25 : 변이 */
  16.5% {
    margin-left: -100%;
  } /* 10 ~ 25 : 변이 */
  22% {
    margin-left: -200%;
  } /* 25 ~ 35 : 정지 */
  27.5% {
    margin-left: -200%;
  } /* 25 ~ 35 : 정지 */
  33% {
    margin-left: -300%;
  } /* 35 ~ 50 : 변이 */
  38.5% {
    margin-left: -300%;
  } /* 35 ~ 50 : 변이 */
  44% {
    margin-left: -400%;
  }
  49.5% {
    margin-left: -400%;
  }
  55% {
    margin-left: -500%;
  }
  60.5% {
    margin-left: -500%;
  }
  66% {
    margin-left: -600%;
  }
  71.5% {
    margin-left: -600%;
  }
  77% {
    margin-left: -700%;
  }
  82.5% {
    margin-left: -700%;
  }
  88% {
    margin-left: -800%;
  }
  93.5% {
    margin-left: -800%;
  }
  100% {
    margin-left: 0%;
  }
}

.leftBtn {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 60px;
  opacity: 0.5;
  border-radius: 15px;
  margin: 0px 15px;
}

.rightBtn {
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 60px;
  opacity: 0.5;
  border-radius: 15px;
  margin: 0px 15px;
}
