.Container {
  width: 1060px;
  margin: auto;
  overflow: hidden;
}

.SliderContainer {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 2em;
  display: flex;
}

.SliderSubContainer {
  position: relative;
}

.Center {
  text-align: center;
}

.SliderImg {
  width: 1060px;
  height: 300px;
  border-radius: 4px;
}

.leftBtn {
  position: absolute;
  top: 30%;
  left: 30px;
  width: 30px;
  height: 60px;
  opacity: 0.5;
  border-radius: 15px;
}

.rightBtn {
  position: absolute;
  top: 30%;
  right: 30px;
  width: 30px;
  height: 60px;
  opacity: 0.5;
  border-radius: 15px;
}

.SliderTextContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 146px;
  border-radius: 4px;
  background-color: white;
  top: 40%;
  left: 5%;
}

.SlideImg {
  width: 1060px;
  height: 300px;
  border-radius: 4px;
}

.SliderMainText {
  padding: 20px 20px 0px 20px;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
}

.SliderSubText {
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.15;
  color: #666;
}

.SliderShortCutText {
  color: #36f;
  padding: 0px 0px 0px 20px;
}

.SliderHrText {
  background-color: #ececec;
  height: 1px;
  width: 100%;
  border: 0px;
  margin: 10px 0px;
}

.exceptPcContainer {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.exceptPcSliderContainer {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 2em;
  display: flex;
}

.SliderExceptPcTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SlideExceptPcImg {
  width: 1060px;
  height: 300px;
  border-radius: 4px;
}

.SliderExceptPcMainText {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
}

.SliderExceptPcSubText {
  margin-top: 6px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.15;
  color: #666;
}

.SliderExceptPcShortCutText {
  color: #36f;
}
